# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django database file
db.sqlite3

# Virtual environment
venv/
.env
.env.*

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# PyCharm
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store

# Logs
*.log

# Static and media files (optional, se generati dinamicamente)
staticfiles/
media/